---
import Layout from './default.astro'
import SignForm from '../components/SignForm.vue'
import SignList from '../components/SignList.vue'
const { content } = Astro.props
const { groupId } = content
const subscribers = await fetch(`${Astro.site}/api/subscribers-list?groupId=${groupId}`).then(res => res.json())
---
<Layout ...Astro.props>
  <div class="mb-4 mx-auto max-w-prose">
    <h1
      class="
        mb-2
        text-4xl
        text-primary font-semibold
      "
    >
      { content.title }
    </h1>

    <div class="text-gray-400">
      { new Intl.DateTimeFormat('en-GB', { dateStyle: 'long' }).format(new Date(content.date))}
    </div>
  </div>

  <article class="prose mx-auto">
    <slot />
  </article>

  <SignList
    slot="footer"
    groupId={groupId}
    subscribers={subscribers}
    client:idle
  />

  <SignForm
    slot="footer"
    groupId={groupId}
    client:visible
  />
</Layout>
